
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Nazire Akbulut © | Admin Paneli Giriş</title>

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="~/mazer/dist/assets/css/bootstrap.css">

	<link rel="stylesheet" href="~/mazer/dist/assets/vendors/iconly/bold.css">

	<link rel="stylesheet" href="~/mazer/dist/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
	<link rel="stylesheet" href="~/mazer/dist/assets/vendors/bootstrap-icons/bootstrap-icons.css">
	<link rel="stylesheet" href="~/mazer/dist/assets/css/app.css">
	<link rel="shortcut icon" href="~/mazer/dist/assets/images/favicon.svg" type="image/x-icon">
	<link rel="shortcut icon" type="image/x-icon" href="~/mazer/dist/assets/logobg.png" />
</head>

<body>
	<div id="app">
		<div id="sidebar" class="active">
			<div class="sidebar-wrapper active">
				<div class="sidebar-header">
					<div class="d-flex justify-content-between">
						<div class="logo">
							<img class="logo-default" src="~/mazer/dist/assets/logo2.jpeg" alt="logo" style="width:180px; height:180px;" />
						</div>
						<div class="toggler">
							<a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
						</div>
					</div>
				</div>
				<div class="sidebar-menu">
					<ul class="menu">
						<li class="sidebar-title">Menü</li>

						<li class="sidebar-item">
							<a href="/About/AAboutList/" class='sidebar-link'>
								<i class="bi bi-card-checklist"></i>
								<span>Hakkımızda</span>
							</a>
						</li>
						<li class="sidebar-item">
							<a href="/AcademicCV/AAcademicCVList/" class='sidebar-link'>
								<i class="bi bi-card-heading"></i>
								<span>Akademik CV</span>
							</a>
						</li>
						<li class="sidebar-item">
							<a href="/GuncelYazilar/AGuncelYazilarList/" class='sidebar-link'>
								<i class="bi bi-wrench"></i>
								<span>Güncel Yazılar</span>
							</a>
						</li>
						<li class="sidebar-item">
							<a href="/Atiflar/AAtifList/" class='sidebar-link'>
								<i class="bi bi-card-image"></i>
								<span>Atıflar</span>
							</a>
						</li>
						<li class="sidebar-item">
							<a href="/Contact/AContactList/" class='sidebar-link'>
								<i class="bi bi-geo-alt"></i>
								<span>İletişim</span>
							</a>
						</li>
						<li class="sidebar-item">
							<a href="/Editor/AEditorList/" class='sidebar-link'>
								<i class="bi bi-blockquote-right"></i>
								<span>Editörlük</span>
							</a>
						</li>
						<li class="sidebar-item">
							<a href="/GazeteDergi/GazeteDergiList/" class='sidebar-link'>
								<i class="bi bi-badge-cc"></i>
								<span>Gazete ve Dergi</span>
							</a>
						</li>
						<li class="sidebar-item">
							<a href="/Kitap/AKitapList/" class='sidebar-link'>
								<i class="bi bi-soundwave"></i>
								<span>Kitaplar</span>
							</a>
						</li>
						<li class="sidebar-item">
							<a href="/Konusmaci/AKonusmaciList/" class='sidebar-link'>
								<i class="bi bi-file-person"></i>
								<span>Konuşmacı</span>
							</a>
						</li>
						<li class="sidebar-item">
							<a href="/Makaleler/MakaleList/" class='sidebar-link'>
								<i class="bi bi-envelope"></i>
								<span>Makaleler</span>
							</a>
						</li>
						<li class="sidebar-item">
							<a href="/MesKurUye/MesKurUyeList/" class='sidebar-link'>
								<i class="bi bi-people"></i>
								<span>Meslek Kuruluşlara Üyelikler</span>
							</a>
						</li>
						<li class="sidebar-item">
							<a href="/OturumBaskanlik/AOturBasList/" class='sidebar-link'>
								<i class="bi bi-lock"></i>
								<span>Oturum Başkanlıklarım</span>
							</a>
						</li>
						<li class="sidebar-item">
							<a href="/SemKonBilDanKurUye/ASemKonBilDanKurUyeList/" class='sidebar-link'>
								<i class="bi bi-compass"></i>
								<span>Sempozyum veya Kongre Bilim <br /> ve/veya Danışma Kurulu Üyesi</span>
							</a>
						</li>
						<li class="sidebar-item">
							<a href="/Ana/ASliderList/" class='sidebar-link'>
								<i class="bi bi-lock"></i>
								<span>Ana Sayfa</span>
							</a>
						</li>
						<li class="sidebar-item">
							<a href="/YayUlusalBildir/AYayUlusalBildirList/" class='sidebar-link'>
								<i class="bi bi-lock"></i>
								<span>(Yayınlanmış) Ulusal Bildiriler</span>
							</a>
						</li>
						<li class="sidebar-item">
							<a href="/YayUluslararsBildir/AYayUluslararsBildirList/" class='sidebar-link'>
								<i class="bi bi-lock"></i>
								<span>(Yayınlanmış) Uluslararası Bildiriler</span>
							</a>
						</li>
						<li class="sidebar-item">
							<a href="/AdminLogin/LogOutAd/" class='sidebar-link'>
								<i class="bi bi-door-closed"></i>
								<span>Çıkış Yap</span>
							</a>
						</li>
					</ul>
				</div>
				<button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
			</div>
		</div>
		<div id="main">
			<header class="mb-3">
				<a href="#" class="burger-btn d-block d-xl-none">
					<i class="bi bi-justify fs-3"></i>
				</a>
			</header>
			@RenderBody()
		</div>
	</div>
	<script src="~/mazer/dist/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script src="~/mazer/dist/assets/js/bootstrap.bundle.min.js"></script>

	<script src="~/mazer/dist/assets/vendors/apexcharts/apexcharts.js"></script>
	<script src="~/mazer/dist/assets/js/pages/dashboard.js"></script>
	<script src="~/mazer/dist/assets/js/main.js"></script>

	@RenderSection("Scripts", false)

</body>
</html>
