
@model EntityLayer.Concrete.GazeteDergi

@{
	ViewBag.Title = "AAddGazeteDergi";
	Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="col-xl-12 col-xxl-12">
	<div class="card">
		<div class="card-header">
			<h4 class="card-title">Gazete ve Dergi Ekleme</h4>
		</div>
		<div class="card-body">
			<div class="basic-form">
				@using (Html.BeginForm("AAddGazeteDergi", "GazeteDergi", FormMethod.Post))
				{
				<div class="form-group">
					<label>Başlık</label>
					<textarea type="text" name="Title" id="editorid" required="" class="form-control input-default"></textarea>
					@Html.ValidationMessageFor(x => x.Title, "", new { @class = "text-danger" })
				</div>
					<button type="submit" class="btn btn-primary">Ekle</button>
				}
			</div>
		</div>
	</div>
</div>


@section Scripts{
	<script src="~/mazer/dist/assets/vendors/ckeditor/ckeditor.js"></script>
	<script>
		CKEDITOR.replace("editorid")
	</script>
}