
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Nazire Akbulut © | Admin Paneli</title>
	<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="~/mazer/dist/assets/css/bootstrap.css">
	<link rel="stylesheet" href="~/mazer/dist/assets/vendors/bootstrap-icons/bootstrap-icons.css">
	<link rel="stylesheet" href="~/mazer/dist/assets/css/app.css">
	<link rel="stylesheet" href="~/mazer/dist/assets/css/pages/auth.css">
	<link rel="shortcut icon" type="image/x-icon" href="~/mazer/dist/assets/logobg.png" />
</head>

<body>
	<div id="auth">

		<div class="row h-100">
			<div class="col-lg-5 col-12">
				<div id="auth-left">
					<div class="auth-logo">
						<img class="logo-default" src="~/mazer/dist/assets/logo.jpeg" alt="logo" style="width:150px; height:70px; margin-top:50px;" />
					</div>
					<h1 class="auth-title">Admin Giriş</h1>

					@using (Html.BeginForm("Index", "AdminLogin", FormMethod.Post))
					{
						<div class="form-group position-relative has-icon-left mb-4">
							<input type="text" name="Username" class="form-control form-control-xl" placeholder="Kullanıcı Adı">
							<div class="form-control-icon">
								<i class="bi bi-person"></i>
							</div>
						</div>
						<div class="form-group position-relative has-icon-left mb-4">
							<input type="password" name="Password" class="form-control form-control-xl" placeholder="Şifre">
							<div class="form-control-icon">
								<i class="bi bi-shield-lock"></i>
							</div>
						</div>
						if (ViewBag.ErrorMessage != null)
						{
							<div class="text-center" style="margin-bottom:15px">
								<a class="text-danger">
									@ViewBag.ErrorMessage
								</a>
							</div>
						}
						<button class="btn btn-primary btn-block btn-lg shadow-lg">Giriş Yap</button>
					}
				</div>
			</div>
			<div class="col-lg-7 d-none d-lg-block">
				<div id="auth-right">

				</div>
			</div>
		</div>

	</div>
</body>

</html>
